<%- include('partials/header') %> 



  <!-- header Section -->
  <section id="header-section">
    <div class="container">
        <div class="row pt-5">
            <div class="col-lg-6  pt-5 pe-3 order-lg-first">
                <h1>More than just shorter links</h1>
                <p>Build your brand’s recognition and get detailed insights on how your links are performing.</p>
                <button class="btn btn-style" onclick="window.location.href='/short'">Get Started</button>
            </div>
            <div class="col-lg-6 order-first">
                <img class="header-img" src="img/illustration-working.svg" alt="">
            </div>
        </div>
    </div>
  </section>

  <!-- statistics section -->
  <section id="statictics-section">
    <div class="container text-center">
        <div class="statistics-title">
            <h2>Advanced Statistics</h2>
            <p>Track how your links are performing across the web with our advanced statistics dashboard.</p>
        </div>
        <div class="row mt-5 g-0 gap justify-content-center">
            <div class="col-lg-3 statistics-card">
                <div class="card" style="width: 18rem;">
                    <div class="card-body text-lg-start">
                        <div class="icon-background">
                            <img src="img/icon-brand-recognition.svg" alt="" srcset="">
                        </div>
                        <h5 class="card-title">Brand Recognition</h5>
                        <p class="card-text">Boost your brand recognition with each click. Generic links don’t mean a thing. Branded links help instil confidence in your content.</p>
                    </div>
                  </div>
            </div>
            <span class="line"></span>
            <div class="col-lg-3 statistics-card  mt-lg-5 mt-4">
                <div class="card mt-lg-4" style="width: 18rem;">
                    <div class="card-body text-lg-start">
                        <div class="icon-background">
                            <img src="img/icon-detailed-records.svg" alt="" srcset="">
                        </div>
                        <h5 class="card-title">Detailed Records</h5>
                        <p class="card-text">Gain insights into who is clicking your links. Knowing when and where people engage with your content helps inform better decisions.</p>
                    </div>
                  </div>
            </div>
            <span class="line"></span>
            <div class="col-lg-3 statistics-card  pt-lg-5 mt-lg-5 mt-4">
                <div class="card mt-lg-4" style="width: 18rem;">
                    <div class="card-body text-lg-start">
                        <div class="icon-background">
                            <img src="img/icon-fully-customizable.svg" alt="" srcset="">
                        </div>
                        <h5 class="card-title">Fully Customizable</h5>
                        <p class="card-text">Improve brand awareness and content discoverability through customizable links, supercharging audience engagement.</p>
                    </div>
                  </div>
            </div>
        </div>   
    </div>
  </section>

  <!-- boost section -->
  <section id="boost-section">
    <div class="container boost">
        <h2>Boost your links today</h2>
        <button class="btn-style btn-hover" onclick="window.location.href='/short'">Get Started</button>
    </div>
  </section>

<%- include('partials/footer') %> 