<%- include('partials/header') %> 
<div class="container m-lg-5 mt-5 mb-5">
    <div class="row">
        <div class="col-lg-6 formCenter">
            <form class="signup-form ms-5" name="loginForm" action="/login" method="post" onsubmit="return validateSignupForm()">
                <div class="form-header">
                    <h2>Log in to Account</h2>
                </div>
                <div class="form-input">
                    <label for="email">Email</label>
                    <input type="text" name="username" id="email" placeholder="john@example.com">
                    <i class="bi bi-check-circle icon-valid-email"></i>
                    <i class="bi bi-exclamation-circle icon-invalid-email"></i>
                    <p id="emailMsg" class="err-msg"></p>
                </div>
                <div class="form-input">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password">
                    <i class="bi bi-check-circle icon-valid-pass"></i>
                    <i class="bi bi-exclamation-circle icon-invalid-pass"></i>
                    <p id="passMsg" class="err-msg"></p>
                    <p>Your password must be 8 to 20 charecters.</p>
                </div>
                <button class="signup-btn" type="submit">Login</button>
                <a class="btn btn-outline-dark" href="/auth/google" role="button" style="text-transform:none">
                    <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                    Sign In with Google
                  </a>
            </form>
        </div>
        <div class="col-lg-6">
            <img class="w-100 disp" src="/img/login.svg" alt="" srcset="">
        </div>
    </div>
</div>
    

<%- include('partials/footer') %> 